.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}
.active__print {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 0 0 210px;
}
form {
  display: flex;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 0.572vw;
}
.print {
  display: flex;
  justify-content: center;
}
.bth {
  width: 100px;
  cursor: pointer;
}
.data {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 8px;
  align-items: center;
}
.checkbox {
  display: none;
}
  @media  print {

    .pagination {
      display: none;
    }
    .tr {
      display: none;
    }
    .print {
      display: none;

    }
    .active__print {
      display: flex;
      flex-wrap: wrap;
      width: 800px;
      margin: 0 0 0 50px;
    }
    .bar {
      display: none;
    }
    .bth {
      display: none;
    }
    .print__active {
      display: block !important;
    }
    .printt {
      display: none;
    }
    .checkbox {
      display: block;
    }
  }


