.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.modal.active {
    opacity: 1;
    z-index: 999;
    pointer-events: all;
}
.modal__content {
    padding: 50px 40px;
    border-radius: 12px;
    background: white;
    transform: scale(0.5);
    transition: 0.4s all;
    width: 350px ;
}

.modal__content.active {
    transform: scale(1);
    transition: 0.4s all;
}

@media print{
    .print {
        display: none;
    }
}
