
@media print{

    .qr {
        position: relative;
        z-index:55555555;
        width: 100%;
        height: 100%;
        background-color: white;
    }
   .bth {
       display: none;
   }


}
